.invoice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("/1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 5px;
  color: #222;
  button {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    &:hover {
      background-color: #222;
      color: rgb(255, 254, 254);
    }
  }
  .invoice-back {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: 900;
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      background-color: #222;
      color: #ddd;
    }
  }
  .invoice-container {
    background-color: rgb(248, 242, 233);
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 20px 40px;
    .invoice-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      img {
        width: 150px;
      }
      h1 {
        font-weight: 900;
        background-image: linear-gradient(
          70deg,
          rgba(255, 0, 183, 0.569),
          rgba(81, 0, 128, 0.9)
        );
        padding: 5px 10px;
        border-radius: 5px;
      }
      .invoice-date {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 18px;
        font-weight: 500;
      }
      padding: 5px 0;
      border-bottom: 2px solid gray;
      margin: 0 0 10px 0;
    }
    .invoice-client {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 5px 0;
      border-bottom: 2px solid gray;
      margin: 0 0 10px 0;
      h3 {
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: 1px solid gray;
        width: fit-content;
      }
      span {
        font-size: 16px;
      }
      span:nth-child(2) {
        font-size: 25px;
        font-weight: 900;
      }
    }
    .invoice-event {
      padding: 5px 0;
      div {
        font-weight: 900;
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
      }
    }
    table {
      border-collapse: collapse;
      text-transform: capitalize;
      tr:nth-child(1) {
        background-image: linear-gradient(
          70deg,
          rgba(255, 0, 183, 0.569),
          rgba(81, 0, 128, 0.9)
        );
        th {
          padding: 5px 10px;
          font-size: 20px;
          text-transform: capitalize;
          color: aliceblue;
          text-align: center;
        }
        th:nth-child(3) {
          text-align: right;
        }
      }
      td {
        text-align: center;
        font-size: 18px;
        border: 1px solid rgba(128, 128, 128, 0.302);
        padding: 3px 5px;
      }
      td:nth-child(3) {
        text-align: right;
      }
      tr:last-child {
        td {
          text-align: right;
        }
        td:last-child {
          color: rgb(136, 0, 255);
          font-weight: 900;
        }
      }
    }
  }
}

//thanking for the order confirm
.order-confirm {
  width: 100%;
  height: 100vh;
  background-image: url("/thank.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  .order-back {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: 900;
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      background-color: #222;
      color: #ddd;
    }
  }
  .order-container {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    h1 {
      text-transform: uppercase;
      text-align: center;
      color: rgb(0, 0, 0);
      font-weight: 900;
      margin: 0;
    }
    h3 {
      margin: 0;
      text-align: center;
      color: rgb(0, 0, 0);
      font-weight: 600;
      font-size: 15px;
    }
    img {
      width: 100px;
    }
    p {
      margin-top: 5px;
      color: rgb(2, 2, 2);
      font-size: 17px;
      text-align: center;
    }
  }
}
