input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// home design
.home {
  background-image: url("/3.jpg");
  width: 100%;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  padding: 20px;
  overflow: auto;
  &::after {
    content: "";
    position: fixed;
    background-color: #00000021;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .store-details {
    background-color: rgba(0, 0, 0, 0.11);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .store-title {
      color: rgb(52, 11, 32);
      h1 {
        font-weight: 900;
      }
      text-transform: capitalize;
      text-align: center;
      font-size: 20px;
    }
    .store-st {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.156);
      padding: 20px 0 10px 0;
      div {
        display: flex;
        flex-direction: column;
        justify-items: center;
        label {
          text-transform: capitalize;
          margin-left: 10px;
          font-weight: 600;
          font-size: 22px;
          font-weight: 900;
          color: rgb(52, 11, 32);
        }
        input {
          margin-top: 5px;
          color: rgb(36, 2, 23);
          background-color: rgba(255, 192, 203, 0.27);
          border-radius: 4px;
          font-weight: 900;
          letter-spacing: 1px;
        }
      }
    }
    input {
      border: none;
      outline: none;
      font-size: 18px;
      padding: 5px;
      margin: 10px;
      background-color: transparent;
    }
    input[type="date"] {
      width: 250px;
    }
    input[type="button"] {
      cursor: pointer;
      width: fit-content;
      display: block;
      margin: auto;
      margin-top: 10px;
      padding: 5px 20px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 900;
      text-transform: capitalize;
      cursor: pointer;
      background-color: rgba(240, 248, 255, 0.292);
      transition: 0.3s;
      &:hover {
        background-color: rgb(36, 2, 23);
        color: #ddd;
      }
    }
    .package,
    .gift {
      border-bottom: 1px solid rgba(0, 0, 0, 0.156);
      padding: 10px 0;
      div {
        span {
          font-weight: 900;
          letter-spacing: 1px;
          font-size: 22px;
        }
        font-size: 20px;
        text-transform: capitalize;
        color: rgb(36, 2, 23);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home {
    padding: 5px;
    .store-details {
      border-radius: 4px;
    }
  }
  .store-title {
    h1 {
      font-size: 35px;
      font-weight: 600;
    }
  }
  .package,
  .gift {
    .pk {
      div {
        label {
          font-size: 17px;
        }
      }
    }
  }
}
